{% extends 'base.html' %}


{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message[1]}} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
  {% endif %}
{% endwith %}

<h1>Reset Password</h1>

<p>Enter your email address and we will send you a link to reset your password.</p>

<form method="POST" novalidate>
<div>
    {{ form.csrf_token }}
    {{ form.email(class="form-control form-control-sm py-2 mb-3", id="form-email", placeholder=form.email.label.text) }}

      {{ form.submit(class="btn btn-primary", value="Reset Password") }}
</div>
</form>



{% endblock content %}