{% extends 'base.html' %}


{% block content %}

<h1> Password Reset </h1>
<p> Reset your password here. </p>
<form method="POST" novalidate>
    {{ form.csrf_token }}
    <div>
      <div>
        {{ form.password(class="form-control form-control-sm py-2 mb-3", id="form-password", placeholder=form.password.label.text) }}
        <p>
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <span style="color: red">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </p>
      </div>
      <div>
        {{ form.confirm_password(class="form-control form-control-sm py-2 mb-3", id="form-confirm_password", placeholder=form.confirm_password.label.text) }}
        <p>
          {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
              <span style="color: red">{{ error }}</span>
            {% endfor %}
          {% endif %}
        </p>
      </div>
      <div>
          {{ form.submit(class="btn btn-primary btn-sm", value="Reset Password") }}
      </div>
    </div>
  </form>

{% endblock content %}