<div class="card mb-5">
  <div class="card-header">
      <h6 class="card-title">Change Password</h6>
    </div>
  <div class="card-body">
    <form method="POST" novalidate>
      {{ password_form.csrf_token }}
      <div>
        <div>
          {{ password_form.old_password(class="form-control form-control-sm py-2 mb-3", id="password_form-old_password", placeholder=password_form.old_password.label.text) }}
          <p>
            {% if password_form.old_password.errors %}
              {% for error in password_form.old_password.errors %}
                <span style="color: red">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </p>
        </div>
        <div>
          {{ password_form.new_password(class="form-control form-control-sm py-2 mb-3", id="password_form-new_password", placeholder=password_form.new_password.label.text) }}
          <p>
            {% if password_form.new_password.errors %}
              {% for error in password_form.new_password.errors %}
                <span style="color: red">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </p>
        </div>
        <div>
          {{ password_form.confirm_password(class="form-control form-control-sm py-2 mb-3", id="password_form-confirm_password", placeholder=password_form.confirm_password.label.text) }}
          <p>
            {% if password_form.confirm_password.errors %}
              {% for error in password_form.confirm_password.errors %}
                <span style="color: red">{{ error }}</span>
              {% endfor %}
            {% endif %}
          </p>
        </div>
        {{ password_form.submit(class="btn btn-sm btn-primary", value="Update") }}
      </div>
    </form>
  </div>
</div>
